<img src="/assets/img/Logo-Tik-Talk.svg" alt="logo" class="logo ml16 mb20">

<nav class="mb20">
    <ul class="main-menu-list">
        @for (menuItem of menuItems; track menuItem.id) {
            <li >
                <a 
                    class="menu-item" 
                    [routerLink]="[menuItem.link]"
                    routerLinkActive="active"
                >
                        <img src="/assets/img/{{menuItem.icon}}.svg" alt="home" class="menu-icon">
                        <span>{{menuItem.label}}</span>
                </a>
            </li>
        }
    </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>
<!-- <pre>{{ subscribers$ | async | json }}</pre> -->

@for (profile of subscribers$ | async; track profile.id) {
<app-subscriber-card
[profile]="profile"
>

</app-subscriber-card>
}


<div class="mt20 to-subscribers">
    <a class="to-subscribers-link medium-text" [routerLink]="['/subscribers']">Все подписчики</a>
    <img class="to-subscribers-icon" src="/assets/img/Arrow.svg" alt="">
</div>

<footer class="sidebar__footer">
    @if (me(); as me) {
       @if (me.avatarUrl) {
        <img class="sidebar__footer__img" [src]="me.avatarUrl | imgUrl" alt="">
       } @else {
        <img class="sidebar__footer__img" src="/assets/img/avatar-placeholder.svg" alt="">
       }
       <div class="medium-text username-text">{{me.username}}</div>

       <a [routerLink]="['settings']" class="settings-btn">
        <img class="settings-btn__icon" src="/assets/img/settings.svg" alt="">
       </a>
    }
</footer>