<app-profile-header>
</app-profile-header>

<form class="profile-form__wrapper" [formGroup]="form">
    <div class="profile-form">
        <div class="two-columns">
            <label  class="tt-form-label">
                <span class="tt-form-label__text">Имя</span>
                <input type="text" class="tt-form-input" formControlName="firstName">
            </label>
            <label  class="tt-form-label">
                <span class="tt-form-label__text">Фамилия</span>
                <input type="text" class="tt-form-input" formControlName="lastName">
            </label>
        </div>
        <label  class="tt-form-label">
            <span class="tt-form-label__text">Telegram username</span>
            <input type="text" class="tt-form-input" formControlName="username">
        </label>
    
        <label  class="tt-form-label">
            <span class="tt-form-label__text">О себе</span>
            <textarea formControlName="description" class="tt-form-input tt-text-area" rows="4"></textarea>
        </label>

        <label  class="tt-form-label">
            <span class="tt-form-label__text">Аватарка</span>
            <app-avatar-upload></app-avatar-upload>
        </label>

        <label  class="tt-form-label">
            <span class="tt-form-label__text">Навыки</span>
            <input type="text" class="tt-form-input" formControlName="stack">
        </label>
    </div>
    <div class="action-btn_wrapper">
        <div class="btn_wrapper">
            <button class="btn-secondary action-btn" (click)="onDeleteAccount()">
                <img src="/assets/img/delete.svg" alt="">
            </button>
            <button class="btn-secondary action-btn" (click)="onLogoutAccount()">
                <img src="/assets/img/logout.svg" alt="">
            </button>
        </div>
        <div class="btn_wrapper">
            <button class="btn-secondary">Отмена</button>
            <button class="btn" (click)="onSave()">Сохранить</button>
        </div>
    </div>
</form>